@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind utilities;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font: "Inter", sans-serif;
}

body {
  font-family: var(--font) !important;
}

@utility background-primary100 {
  @apply bg-[#768D85];
}

@utility background-light100_dark100 {
  @apply bg-[#1E2021] dark:bg-[#CFBFAD];
}

@utility background-light200_dark200 {
  @apply bg-[#FFFFFF] dark:bg-[#252525];
}

@utility background-light300_dark300 {
  @apply bg-[#BAC6C2] dark:bg-[#515E5A];
}

@utility background-light400_dark400 {
  @apply bg-[#F1F4F3] dark:bg-[#2D2F2F];
}

@utility background-light500_dark500 {
  @apply bg-[#FAFAFA] dark:bg-[#1E2021];
}

@utility text-primary100 {
  @apply text-[#768D85];
}

@utility text-dark100_light100 {
  @apply text-[#1E2021] dark:text-[#CFBFAD];
}

@utility text-dark300_light300 {
  @apply text-[#BAC6C2] dark:text-[#515E5A];
}

@utility text-dark100_light200 {
  @apply text-[#FFFFFF] dark:text-[#CFBFAD];
}

@utility border-light400_dark400 {
  @apply border-[#F1F4F3] dark:border-[#2D2F2F];
}
